<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>stupid simple blog - {{ .Data.Title }}</title>
    {{.MainStyle}}
</head>
<body>
    {{.Header}}
    <div class="content">
        <p>
            <span class="content-title">{{.Data.Title}}</span>
            <span> by {{.Data.User.Email}}</span>
        </p>
        <p>{{.Data.Text}}</p>
        <div class="divider"></div>
        <div>
            {{if .Data.CommentCount}}
            <p class="content-title">Comments</p>
            {{range .Data.Comments}}
            <div>
                <p>{{.Text}}</p>
                <p>by {{.User.Email}}</p>
            </div>
            {{end}}
            {{else}}
            <p>No comments</p>
            {{end}}
        </div>
    </div>
</body>
</html>
