<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>stupid simple blog - {{ .Data.Title }}</title>
    {{.MainStyle}}
</head>
<body>
    {{.Header}}
    <div class="content">
        <p>
            <span class="content-title">{{.Data.Title}}</span>
            <span> by {{.Data.User.Email}}</span>
        </p>
        <pre>{{.Data.Text}}</pre>

        <div class="divider"></div>

        <p>{{.Data.CommentCount}} comment(s)</p>

        <form action="/{{.Data.Id}}/reply" method="post">
            <label>
                <textarea class="comment-area" name="text" placeholder="Comment text"></textarea>
            </label>
            <input type="submit" value="Submit"/>
        </form>

        <div>
            {{if .Data.CommentCount}}
                <div class="divider"></div>
                <p class="content-title">Comments</p>
                {{range .Data.Comments}}
                    <div class="comment">
                        <p class="poster">{{.User.Email}} said</p>
                        <pre>{{.Text}}</pre>
                    </div>
                {{end}}
            {{end}}
        </div>
    </div>
</body>
</html>
